.container {
    display: flex; /* or inline-flex */

    justify-content: center;
  }
  header{
    display: flex;
    border-left: 1px groove rgba(156, 155, 155, 0.445);
    border-right: 1px groove rgba(156, 155, 155, 0.445);
    border-top: 1px groove rgba(156, 155, 155, 0.445);
    box-shadow: 0px 10px 10px rgba(156, 155, 155, 0.445);
    background-color: rgb(77, 76, 76);
    color: white;
    margin-bottom: 20px;
}
.containerH1{
  margin-left:10%;
}
/* container for Bank, Work and Laptops model  */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;
  margin-left:10%;
  margin-right:10%;
  position: relative;
}
.innerContainer{

  background-color:whitesmoke;
  display: grid;
  
  box-shadow: 0px 10px 10px rgba(156, 155, 155, 0.445);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  }
  /* laptop Display Container */
#laptopDisplayContainer{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;
  margin-left:10%;
  margin-right:10%;
  position: relative;
  justify-content: center;
  background-color:whitesmoke;
 
  box-shadow: 0px 10px 10px rgba(156, 155, 155, 0.445);
}
#laptopNameAndDescription{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
}
#laptopPriceAndBtn{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  
}
#laptopName{
  font-size: xx-large;
  justify-content: center;
}
#laptopPrice{
  font-size: xx-large;
  
}

#bankBalance{
  margin-left:auto;
}
#workPay{
  margin-left:auto;
  
}
#outstandingLoan{
  margin-left:auto;
}
#featuresTitle{
  font-size:large;
}
/* titles */
#bankTitle{
  font-size: xx-large;
  margin-left: 10px;
}
#workTitle{
  font-size: xx-large;
  margin-left: 10px;
}
#laptopTitle{
  font-size: xx-large;
  margin-left: 10px;
}
/* buttons */
.container .btnHoler{
  align-items: center;
  justify-content: flex-end;
  display: flex;
  margin-top:auto;
}
.balanceHolder{
  display: flex;
  margin-left: 10px;
  
}
#addLoanBtn{
  background-color: springgreen;
  color: black;
  border: transparent;
  height: 35px; 
  width: 320px;
  border-radius: 8px;
}
#addLoanBtn:hover {
  background-color: rgb(0, 202, 101);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#addLoanBtn:active {
  background-color: rgb(0, 202, 101);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#payLoanBtn{
  background-color:brown;
  color: black;
  border: transparent;
  height: 35px; 
  width: 100px;
  border-radius: 8px;
  visibility: hidden;
}
#payLoanBtn:hover{
  background-color:rgb(129, 33, 33);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#payLoanBtn:active {
  background-color:rgb(129, 33, 33);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#addBalanceBtn{
  background-color: yellow;
  color: black;
  border: transparent;
  height: 35px; 
  width: 160px;
  border-radius: 8px;
}
#addBalanceBtn:hover{
  background-color: rgb(190, 190, 0);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#addBalanceBtn:active {
  background-color: rgb(190, 190, 0);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#workBtn{
  background-color: cornflowerblue;
  color: white;
  border: transparent;
  height: 35px; 
  width: 160px;
  border-radius: 8px;
}
#workBtn:hover{
  background-color: rgb(73, 106, 168);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#workBtn:active {
  background-color: rgb(73, 106, 168);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#buyNowBtn{
  background-color:deepskyblue;
  color: black;
  border: transparent;
  height: 35px; 
  width: 175px;
  border-radius: 8px;
  
}
#buyNowBtn:hover{
  background-color:rgb(0, 138, 184);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#buyNowBtn:active {
  background-color:rgb(0, 138, 184);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Image */
#image{
  
  width: 200px;
  height: auto;
}